Django==3.1.8
django-bootstrap-icons==0.6.2
django-components==0.14
django-computed-property==0.3.0
django-crispy-forms==1.12.0
django-widget-tweaks==1.4.8
gunicorn==20.0.4
pandas==1.2.1
psycopg2==2.8.6
