{% load filters %}
<div class="card m-3">
  <div class="card-header">
    <strong>{{ plot.title }}</strong>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div id="{{ plot.plot_id }}"></div>
    </div>
  </div>
</div>
{% block js %}
<script>
  Highcharts.chart(
    {{ plot.plot_id }},
    {
      chart: {
          zoomType: 'x',
      },
      title: {
          text: '',
      },
      subtitle: {
        text: document.ontouchstart === undefined ?
          'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in',
      },
      xAxis: {
        categories: {{ plot.x_title|jsonify|safe }},
        crosshair: true,
      },
      yAxis: {
        title:{
          text: {{ plot.y_title|jsonify|safe }},
        },
      },
      plotOptions: {{ plot.plot_options|jsonify|safe }},
      colors: {{ plot.colors|jsonify|safe}},
      series: {{ plot.series|jsonify|safe }},
  });
</script>
{% endblock %}
