{% extends "app/base_generic.html" %}
<!-- Not used, can be deleted? -->
{% block content %}
  <h1>Update: {{ assayLot_instance.lot }}</h1>
  <p><strong>Assay type:</strong> {{ assayLot_instance.assay.assay_id }}</p>
  <p><strong>Status:</strong> {{ assaylot.status }}</p>
  <p><strong>Date Ordered:</strong> {{ assayLot_instance.date_order }}</p>
  <p><strong>Date Scanned:</strong> {{ assayLot_instance.date_scanned }}</p>
  <p><strong>Date Validated:</strong> {{ assayLot_instance.date_validated }}</p>
  <p><strong>Test ID:</strong> {{ assayLot_instance.test_id }}</p>
  <p><strong>Date Activated:</strong> {{ assayLot_instance.date_activated}}</p>
  <p><strong>Volume low:</strong> {{ assayLot_instance.volume_low }}</p>
  <p><strong>Date Inactivated:</strong> {{ assayLot_instance.date_inactivated }}</p>
  <p><strong>Freezer ID:</strong> {{ assayLot_instance.freezer_id }} <strong>Box Position:</strong> {{ assayLot_instance.box_position}}</p>
  <p><strong>Comment:</strong> {{ assayLot_instance.comment }}</p>
  <!-- <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p> -->
<br><hr>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
