<!DOCTYPE html>
{% extends "app/base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="card m-4">
  <div class="card-header">
    <div class="d-flex">
      <i class="bi bi-plus-circle"></i>
      <span class="mx-2">
        Create new assays from file
      </span>
    </div>
  </div>
  <div class="card-body m-5">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="my-3">
          <label class="form-label" for="file">TSV file:</label>
          <input class="form-control" type="file" name="upload" id="file">
        </div>
        <button type="submit" class="btn btn-primary" name="upload">Upload</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info">Info</button>
        <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info-box" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Info on data input</h5>
              </div>
              <div class="modal-body m-3">
                <p>
                  The input tsv file should contain the following columns:
                  assay_id, assay_id_sec, tube_id, gene, sequence, ref_build,
                  chromosome, position_from, position_to, transcript, cdna,
                  protein, temperature, limit_of_detection, status, comment,
                  enzymes. Please check out the example below:
                </p>
                <div class="card bg-light m-1">
                  <div class="card-body m-2">
                    <code><pre>assay_id&#9;assay_id_sec&#9;tube_id&#9;gene&#9;sequence&#9;ref_build&#9;chromosome&#9;position_from&#9;position_to&#9;transcript&#9;cdna&#9;protein&#9;temperature&#9;limit_of_detection&#9;status&#9;comment&#9;enzymes</pre></code>
                    <code><pre>dHsaMDS900210369&#9;&#9;&#9;NRAS&#9;ATGC&#9;hg38&#9;1&#9;114704469&#9;114716771&#9;NM_002524&#9;c.85G>A&#9;p.G12D&#9;55&#9;&#9;3&#9;Great comment here&#9;HaeIII,MseI,HindIII</pre></code>
                    <code>...</code>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}
