<!DOCTYPE html>
<html lang="en">
{% extends "app/base_generic.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Assay lot ID: {{ assaylot.lot }}</h1>
  </div>
    <p class="{% if assaylot.status == 'Active' %}text-success{% elif assaylot.status == 'Inactive' %}text-danger{% else %}text-warning{% endif %}">{{ assaylot.status }}</p>
    <p><strong>Assay:</strong> <a href="{% url 'assayType-detail' assaylot.assay.pk %}"> {{ assaylot.assay }}</a></p>
    <p><strong>Test ID:</strong> {{ assaylot.test_id }}</p>
    <p><strong>Fridge ID:</strong> {{ assaylot.fridge_id }}</p>
    <p><strong>Box ID:</strong> {{ assaylot.box_id }}</p>
    <p><strong>Box Position:</strong> {{ assaylot.box_position}}</p>
    <p><strong>Volume low:</strong> {{ assaylot.volume_low }}</p>
    <p class="text-muted"><strong>Comment:</strong> {{ assaylot.comment }}</p>

    <!-- Borde vi inte ha sa att man kan se datumen at least? -->

  <a href="{% url 'assayLot-update' assaylot.pk %}"><button type="button" class = "btn btn-default"><span class="badge bg-light text-dark">Update record</span></button></a>
  <!-- <a href="{% url 'assayLot-delete' assaylot.pk %}"><button type="button" class = "btn btn-default"><span class="badge bg-danger text-light">Delete record</span></button></a> -->
</div>

{% endblock %}
